<!--template for the home state-->
<section class="sidebar">
    <h3>Chat Rooms</h3>
    <!--This button has its own controller to open the modal-->
    <button type="button" class="btn btn-info" ng-controller="ModalCtrl as modal" ng-click="modal.open()">Add A Chat Room</button>

    <ul class=room_names>
        <li ng-repeat="room in home.room.all" ng-click="home.room.updateCurrentRoom(room.$value); home.message.getByRoomId(room.$id)">{{room.$value}}</li>
    </ul>
</section>
{{home.room.all}}
{{home.message.allMessages}}
<section class="chat_messages">
    <h3>{{home.room.currentRoom}}</h3>
    <h6>Username:</h6>
    <p class="message" ng-repeat="message_object in home.message.currentMessages | orderBy:'sentAt'">{{message_object.content}}</p>
</section>
